
// Import Material Design prebuilt theme
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html, body { 
  height: 100%; 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
  color-scheme: light;
  background-color: #fafafa;
  color: #212121;
}
